.container {
  display: grid;
  place-content: center;
  width: 100%;
}

.product {
  padding: 0 20px;
  background-color: #eee;
  &__list {
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  &__name, &__description, &__price {
    margin-top: 7px;
  }
  &__name {
    margin-bottom: 7px;
    padding-bottom: 7px;
    font-weight: 900;
    border-bottom: 1px solid #999;
  }
  &__price {
    display: inline-block;
  }
}