.btn {
  margin: auto;
  border-radius: 9999px;
  border: none;
  display: block;
  width: 12;
  height: 6;
  font-weight: bold;
  cursor: pointer;
  background-color: pink;
}

.selected {
  background-color: pink;
}